# 実行ファイル(拡張子なし)を含めない。※一番上に書く必要がある。なぜなら、↓の無視対象ファイルが無視されなくなってしまう為。
## 全てのファイル・ディレクトリを無視
*
## ディレクトリは無視しない
!*/
## 拡張子付きのファイルは無視しない
!*.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# atcoder ライブラリー
ac-library

# mac独自のファイル
.DS_Store

# envファイル
.envrc

# node_modules
node_modules
